body{
	padding: 0;
	margin: 0;
	font-family: "Roboto",Helvetica,Arial,sans-serif; /*Defining the font*/
	background-color: #fff;
}
/*Content section*/

section.top{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	height: calc(100vh - 9rem);
	padding-top: 9rem;
	color: #fff;
	background: url("../../common-content/image-content/Riverdam.png") no-repeat;
}
section.top div{
	position: absolute;
	top: 15rem;
	right: 10vw;
	width: 40%;
}
section.top div h1{
	font-size: 3rem;
	padding: 0;
	margin:0;
}
section.top div h2{
	padding: 0;
	margin:0;
	font-size: 1.7rem;
}


section.features{
	overflow: hidden;
	padding-top: 3rem;
	padding-bottom: 6rem;
	color: #fff;
	background-color: #16232b;
}
section.features >  p {
	font-weight: 900;
	text-align: center; 
	margin-bottom: 4rem;
	font-size: 1.4rem;
}
section.features span{
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}
section.features span.current{
	text-decoration: underline;
}
section.features div{
	display: block;
}
section.features div#browser, section.features div#mail{
	display: none;
}
section.features > div > div{
	width: 50%;
	float: left;
}
section.features div p{
	margin: 0;
	padding: 0;
	font-weight: 600;
}
section.features div p.undertitle{
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 1.8rem;
	font-weight: 900;
	margin-bottom: 3rem;
}
section.features div p.text{
	width: 70%;
	font-weight: 600;
	font-size: 1.2rem;
}
section.features div a.button{
	display: inline-block;
	border:0;
	margin-top: 3rem;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
	text-decoration: none;
}


section.team{
	margin-top: 5rem;
	margin-bottom: 5rem;
	overflow: hidden;
}
section.team h2{
	text-align: center;
}
section.team div{
	width: 100%;
}
section.team div div{
	width: 20%;
	margin: calc(20% / 8);
	float: left;
}
section.team div div img{
	width: 100%;
}
section.team div div p{
	font-weight: 900;
	padding:0;
	margin:0;
}
section.team div div span{
	text-transform: uppercase;
	font-size: .8rem;
}

section.quote{
	padding-top: 10rem;
	padding-bottom: 7rem;
	color: #fff;
	text-align: center;
	position: relative;
	background: linear-gradient(to bottom, #90d4f0, #44abe2);/**linear-gradient(to right, #025e81 , #1b87c2);**/
}
section.quote span.quotetag{
	position: absolute;
	top: 2rem;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 10rem;
}
section.quote div{
	width: 70%;
	margin: auto;
	font-weight: 300;
	font-size: 2rem;
}
section.quote p.author{
	font-weight: 900;
	font-size: 1.3rem;
	margin-top: 2rem;
	text-align: right;
}

section.threecoloumntext{
	text-align: center;
	overflow: hidden;
	margin-top: 5rem;
	margin-bottom: 5rem;
	font-weight: 600;
}
section.news{
	background-color: #16232b;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
section.news h2{
	color: #fff;
}
section.news > div.newsgrid{
	width: 100%;
}
section.news > div.newsgrid > div{
	width: 30%;
	margin: calc(10% / 6);
	float: left;
	text-align: left;
	color: #fff;
}
section.news > div.newsgrid > div img{
	width: 100%;
	background-color: #fff;
}
section.news > div.newsgrid > div p{
	font-weight: 600;
	padding: 0;
	margin: 0;
	font-size: 1.5rem;
	margin-top: 1rem;
}
section.news > div.newsgrid > div span{
	font-weight: 600;
	font-size: 1.2rem;
	padding-top: .2rem;
}
section.news > a.button{
	display: inline-block;
	border:0;
	margin-top: 3rem;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
	text-decoration: none;
}

/*Line section on index*/
	.timelinewrapper > h2{
		text-align: center;
	}
	.timelinegrid{
		width: 100%;
		font-weight: 700;
		display: grid;
		grid-template-columns: calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5) calc(100% / 5);
		grid-template-rows: 1fr 5rem 5rem 1fr 5rem 5rem;
		grid-template-areas: 
    "texttimelinefirst texttimelinefirst texttimelinefirst texttimelinefirst imagetimelinefirst"
    "linetimelinefirst linetimelinefirst linetimelinefirst linetimelinefirst linetimelinefirst"
    "linetimelinesecond . . . ."
    "imagetimelinesecond texttimelinesecond texttimelinesecond texttimelinesecond texttimelinesecond"
    "linetimelinethird linetimelinethird . . ."
    "linetimelinefourth linetimelinefourth . . ."
    ". imagetimelinefourth texttimelinefourth texttimelinefourth ."
    ". imagetimelinefifth texttimelinefifth texttimelinefifth ."
    ". imagetimelinesixth texttimelinesixth texttimelinesixth .";
	}
	.texttimelinefirst{
		margin-bottom: -3rem;
		width: calc(100% - (5rem * 2));
		margin-left: 5rem;
		grid-area: texttimelinefirst;
	}
	.imagetimelinefirst{
		grid-area: imagetimelinefirst;
		text-align: right;
	}
	.imagetimelinefirst img{
		height: 10rem;
	}
	.linetimelinefirst{
		border-right: 2px dashed #289AF2;
		border-bottom: 2px dashed #289AF2;
		grid-area: linetimelinefirst;
		width: calc((100vw / 100 * 80) - 5rem - 5rem);
		margin-left: 5rem;
		margin-top: -1rem;
	}
	.linetimelinesecond{
		border-left: 2px dashed #289AF2;
		grid-area: linetimelinesecond;
		margin-left: 5rem;
	}
	.imagetimelinesecond{
		grid-area: imagetimelinesecond;
	}
	.imagetimelinesecond img{
		max-height: 10rem;
	}
	.texttimelinesecond{
		grid-area: texttimelinesecond;
		width: calc(100% - 5rem);
		margin-right: 5rem;
	}
	.linetimelinethird{
		border-left: 2px dashed #289AF2;
		border-bottom: 2px dashed #289AF2;
		grid-area: linetimelinethird;
		margin-left: 5rem;
	}
	.linetimelinefourth{
		border-right: 2px dashed #289AF2;
		grid-area: linetimelinefourth;
	}
	.imagetimelinefourth{
		position: relative;
		grid-area: imagetimelinefourth;
		text-align: right;
		border-right: 2px dashed #289AF2;
		padding-right: 4rem;
		margin-top: -3px;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.imagetimelinefourth div, .imagetimelinefifth div{
		position: absolute;
		top: calc(50% - 1px);
		right: 0;
		width: 3rem;
		border-bottom: 2px dashed #289AF2;
		transform: translateY(-50%);
	}
	.texttimelinefourth{
		grid-area: texttimelinefourth;
		padding-left: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.imagetimelinefifth{
		position: relative;
		grid-area: imagetimelinefifth;
		text-align: right;
		border-right: 2px dashed #289AF2;
		padding-right: 4rem;
		margin-top: -3px;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.texttimelinefifth{
		grid-area: texttimelinefifth;
		padding-left: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.imagetimelinesixth{
		position: relative;
		grid-area: imagetimelinesixth;
		text-align: right;
		
		padding-right: 4rem;
		margin-top: -3px;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.imagetimelinesixth div{
		position: absolute;
		top: 0;
		right: 0;
		width: 3rem;
		height: calc(100% / 2);
		border-bottom: 2px dashed #289AF2;
		border-right: 2px dashed #289AF2;
	}
	.texttimelinesixth{
		grid-area: texttimelinesixth;
		padding-left: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	@media only screen and (max-width: 1080px) {
    	.timelinegrid{
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 5rem 5rem 1fr 1fr 5rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas: 
	    "texttimelinefirst"
	    "imagetimelinefirst"
	    "linetimelinefirst"
	    "linetimelinesecond"
	    "texttimelinesecond"
	    "imagetimelinesecond"
	    "linetimelinethird"
	    "linetimelinefourth"
	    "imagetimelinefourth"
	    "texttimelinefourth"
	    "imagetimelinefifth"
	    "texttimelinefifth"
	    "imagetimelinesixth"
	    "texttimelinesixth";
		}
		.texttimelinefirst{
		margin-bottom: 0;
		}
		.imagetimelinefirst{
			text-align: center;
		}
		.linetimelinefirst{
			border-bottom: 0;
			margin-left: 50%;
			width: 0px;
		}
		.linetimelinesecond{
			width: 0px;
			margin-top: -3px;
			margin-left: 50%;
		}
		.imagetimelinesecond{
			text-align: center;
		}
		.linetimelinethird{
			border-bottom: 0;
			margin-left: 50%;
			width: 40%;
		}
		.texttimelinefourth, .texttimelinefifth, .texttimelinesixth, .imagetimelinefourth, .imagetimelinefifth, .imagetimelinesixth{
			text-align: center;
			padding-left: 0;
		}
		.imagetimelinefourth div, .imagetimelinefifth div, .imagetimelinesixth div{
			left: 0;
			border-right: 0;
			border-left: 2px dashed #289AF2;
		}
	}








section.createaccount{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: linear-gradient(to bottom, #58C9EA, #00A2FE)/**linear-gradient(to right, #025e81 , #1b87c2)**/;
}
section.createaccount h2{
	color: #fff;
	text-align: center;
}
section.createaccount input[type=email],section.createaccount input[type=password]{
	border:0;
	border-radius: .5rem;
	font-size: 1rem;
	width: 60%;
	display: block;
	margin:auto;
	margin-bottom: .8rem;
	padding: .8rem .5rem .8rem .5rem;
}
section.createaccount input[type=submit]{
	display: block;
	margin: auto;
	border:0;
	margin-top: 3rem;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
}


section.centeredtext{
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 4rem;
}
section.centeredtext p{
	width: 70%;
	margin: auto;
}


@media only screen and (max-width: 780px) {
	section.top div div div p{
		width: 100%;
	}
	section.team div div, section.news > div.newsgrid > div{
		width: 100%;
		margin:0;
		margin-top: 2%;
		margin-bottom: 2%;
	}
	section.threecoloumntext > div > div{
		width: 100%;
	}
	section.news > div.newsgrid > div{
		width: 100%;
	}
}
#img-md-3{
	width: 550px;
}

@media only screen and (max-width: 1500px) {
	#img-md-3{
		width: 550px;
	}
}

@media only screen and (max-width: 1200px) {
		#img-md-3{
			width: 350px;
		}
}

@media only screen and (max-width: 720px) {
		#img-md-3{
			width: 250px;
		}
}

@media only screen and (max-width: 520px) {
	#img-md-3{
		width: 40vw;
	}
}