/**/
body{
	padding: 0;
	margin: 0;
	font-family: "Rubik",sans-serif; /*Defining the font*/
	background-color: #fff;
}

body img
{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.maincolor{
	background-color: #fff;
}
.blue-main{
	background-color: #025e81;
}
.blue-secondary{
	background-color: #1b87c2;
}
.secondary-dark{
	background-color: #16232b;
}
.wrapper{
	width:1250px;
	padding-left: calc((100% - 1250px) / 2);
	padding-right: calc((100% - 1250px) / 2);
}


/*Menu bar*/
header{
	position: fixed;
	background-color: #fff;
	height: 4rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	z-index: 10;
}
header img{
	float: left;
	height: 3rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}
nav ul{
	position: relative;
	padding: 0;
	margin: 0;
	float: right;
	list-style-type: none;
	padding-top: .9rem;
	padding-bottom: .9rem;
	line-height: 1.4rem;
}
nav ul li {
	display: inline-block;
	padding:.4rem .8rem .4rem .8rem;
	font-weight: 600;
}

nav ul li a {
	text-decoration: none;
    color: black;
}

.calltoaction{
	border-radius: 50%;
	background: linear-gradient(to top, #025e81 , #1b87c2);
    border-radius: 20px;
    border-color: aliceblue;
    color: aliceblue;
    transition: all 0.25s ease;
}

.calltoaction a{
	text-decoration: none;
    color: aliceblue;
}

nav .hamburgermenu{
	display: none;
	float: right;
	margin-top: calc(((4rem - 3rem) / 2) + .2rem);
}
nav .hamburgermenu div{
	display: block;
	width: 2rem;
	height: calc(1rem / 3);
	margin-top: calc(1rem / 3);
	margin-bottom: calc(1rem / 3);
	background-color: #000;
}

section.topsection{
	padding-top: 4rem;
}
section.questions{
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: linear-gradient(to right, #025e81 , #1b87c2);
	color: #fff;
	line-height: 1.5rem;
}
section.questions span{
	font-weight: 900;
	font-size: 2rem;
}
section.questions a{
	float: right;
	display: inline-block;
	text-decoration: none;
}

section.questions div{
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/*Footer*/
footer{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
@media only screen and (max-width: 1300px) {
	.wrapper{
    	padding-right: 5%;
    	padding-left: 5%;
    	width: 90%;
    }
}

@media only screen and (max-width: 780px) {
    nav .hamburgermenu{
    	display: block;
    }
    nav ul{
    	display: none;
    	width: 100%;
    	position: absolute;
    	top: 6.5rem;
    	left: 0;
    	background-color: #fff;
    }
    nav ul li{
    	width: 100%;
    	text-align: center;
    	display: block;
    	margin-top: 1rem;
    	margin-bottom: 1rem;
    }
    nav ul li.calltoaction{
    	width: 20%;
    	margin-left: 40%;
    	margin-right: 40%;
    	margin-bottom: 0;
    }
}
@media only screen and (max-width: 480px) {
	nav img{
		position: absolute;
		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
		width: calc(50% - 3rem);
		height: auto;
	}
	section.questions{
    	text-align: center;
    }
    section.questions a{
    	float: none;
    	display: block;
		margin: auto;
		width: 20%;
		margin-top: 1rem;
    }
    section.questions div{
    	width: 100%;
	}
}