/**/
body{
	padding: 0;
	margin: 0;
	font-family: "Rubik",Helvetica,Arial,sans-serif; /*Defining the font*/
	background-color: #fff;
}
.maincolor{
	background-color: #fff;
}
.blue-main{
	background-color: #025e81;
}
.blue-secondary{
	background-color: #1b87c2;
}
.secondary-dark{
	background-color: #16232b;
}
.wrapper{
	width:1250px;
	padding-left: calc((100% - 1250px) / 2);
	padding-right: calc((100% - 1250px) / 2);
}


/*Menu bar*/
header{
	position: fixed;
	background-color: #fff;
	height: 6rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	z-index: 10;
}
header img{
	float: left;
	height: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
nav ul{
	position: relative;
	padding: 0;
	margin: 0;
	float: right;
	list-style-type: none;
	padding-top: 1.9rem;
	padding-bottom: 1.9rem;
	line-height: 1.4rem;
}
nav ul li {
	display: inline-block;
	padding:.4rem .8rem .4rem .8rem;
	font-weight: 600;
}
nav ul li.calltoaction{
	border-radius: 50%;
	background: linear-gradient(to top, #025e81 , #1b87c2);
    border-radius: 20px;
    border-color: aliceblue;
    color: aliceblue;
    transition: all 0.25s ease;
}



section.questions{
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: linear-gradient(to right, #025e81 , #1b87c2);
	color: #fff;
	line-height: 1.5rem;
}
section.questions span{
	font-weight: 900;
	font-size: 2rem;
}
section.questions div{
	float: right;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
}


/*Footer*/
footer{
	padding-top: 2rem;
	padding-bottom: 2rem;
}