/**/
body{
	padding: 0;
	margin: 0;
	font-family: "Rubik",sans-serif; /*Defining the font*/
	background-color: #fff;
}

body img
{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.maincolor{
	background-color: #fff;
}
.blue-main{
	background-color: #44abe2;
}
.blue-secondary{
	background-color: #90d4f0;
}
.secondary-dark{
	background-color: #44abe2;
}
.wrapper{
	width:1250px;
	padding-left: calc((100% - 1250px) / 2);
	padding-right: calc((100% - 1250px) / 2);
}

/*Menu bar*/
header{
	background-color: #fff;
	height: 4rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	z-index: 10;
}
.headerabs{
	position: absolute;
	left: 0;
	top: 4rem;
}
.headerfixed{
	position: fixed;
	top: 0;
}
header img{
	float: left;
	height: 3rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}
nav ul{
	position: relative;
	padding: 0;
	margin: 0;
	float: right;
	list-style-type: none;
	padding-top: .9rem;
	padding-bottom: .9rem;
	line-height: 1rem;
}
nav ul li {
	display: inline-block;
	padding:.4rem .8rem .4rem .8rem;
	font-weight: 600;
}

nav ul li a {
	text-decoration: none;
    color: black;
}
.calltoaction{
	margin-left: 3rem;
}
.calltoaction a{
	text-decoration: none;
    color: aliceblue;
}

.shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-bot{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav .hamburgermenu input[type=checkbox]{
	display: none;
}

nav .hamburgermenu .burger
{
	display: none;
}

nav .hamburgermenu .burger div{
	transform-origin: 4px 0px;
  
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
}

nav .hamburgermenu .burger:hover {
	cursor: pointer;
}

/* nav .hamburgermenu input[type=checkbox]:checked + .burger div{
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
} */

nav .hamburgermenu input[type=checkbox]:checked + .burger div:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(90deg) scale(0.01, 0.01);
}

nav .hamburgermenu input[type=checkbox]:checked + .burger div:nth-last-child(3)
{
	opacity: 1;
	transform: translate(5px, 1px) rotate(43deg) scale(1, 1);
}

nav .hamburgermenu input[type=checkbox]:checked + .burger div:nth-last-child(1)
{
	opacity: 1;
	transform: translate(2px, 1px) rotate(-43deg) scale(1, 1);
}

/* nav .hamburgermenu .burger div:first-child{
	transform-origin: 0% 0%;
}

nav .hamburgermenu .burger div:nth-last-child(2){
	transform-origin: 0% 100%;
} */

section.topsection{
	padding-top: 4rem;
}

section.numberedlist{
	margin-top: 5rem;
	margin-bottom: 5rem;
}
section.numberedlist h2{
	text-align: center;
}
section.numberedlist div.number{
	width: 100%;
	margin-top: 10rem;
}
section.numberedlist div.number div:first-child{
	font-weight: 900;
	font-size: 2rem;
	line-height: 3rem;
	height: 3rem;
}
section.numberedlist div.number div:first-child img{
	display: inline-block;
	float: left;
	height: 3rem;
}
section.numberedlist div.number div:first-child p{
	padding: 0;
	margin:0;
	display: inline-block;
	margin-left: 1rem;
}
section.numberedlist div.number div:last-child{
	width: calc(70% - 4rem);
	margin-left: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
section.numberedlist div.line{
	height: 1px;
	background-color: #999;
	margin-top: 2rem;
	margin-bottom: 2rem;
}


section.threecoloumntext > div{
	width: 100%;
}
section.threecoloumntext > div > div{
	width: 30%;
	margin: calc(10% / 6);
	float: left;
	text-align: left;
	color: #000;
}

section.questions{
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: linear-gradient(to bottom, #00A2FE, #58C9EA);
	color: #fff;
	line-height: 1.5rem;
}
section.questions span{
	font-weight: 900;
	font-size: 2rem;
}
section.questions a{
	float: right;
	display: inline-block;
	text-decoration: none;
}

section.questions div{
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: 1rem;
	color: #000;
	font-weight: 600;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*Footer*/
footer{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

nav {
	font-weight: bold !important;
	font-size: 20px;
}

nav .hamburgermenu .menu li a:visited
{
	color: black;
}

nav .hamburgermenu .menu li a:hover
{
	color: rgb(85, 85, 85);
}

@media only screen and (max-width: 1300px) {
	.wrapper{
    	padding-right: 5%;
    	padding-left: 5%;
    	width: 90%;
    }
}

@media only screen and (min-width: 780px) {
	nav .hamburgermenu .burger div{
		display: none;
		width: 2rem;
		height: 0.12em;
		margin-top: 0.25em;
		margin-bottom: 0.25em;

		border-radius: 30px;
		background-color: #416579;
	}
}

@media only screen and (min-width: 781px)
{
	.calltoaction{
		border-radius: 50%;
		background: #007BFF;/**linear-gradient(to top, #025e81 , #1b87c2);**/
		border-radius: 20px;
		border-color: aliceblue;
		color: aliceblue;
		transition: all 0.25s ease;

		padding: 10px 30px;
	}

	.calltoaction:hover{
		background: #0268DA;/**linear-gradient(to top, #025e81 , #1b87c2);**/
	}
}

@media only screen and (max-width: 780px) {
	nav .hamburgermenu .burger div{
		display: block;
		width: 2rem;
		height: 0.125em;
		margin-top: 0.275em;
		margin-bottom: 0.275em;

		border-radius: 30px;
		background-color: #416579;
	}

	nav .hamburgermenu .burger
	{
		display: inline-block;
		border: 1px solid rgb(172, 173, 177);
		border-radius: 3px;
		padding: 6px;

		float: right;
		margin-top: calc(((4rem - 3rem) / 2) + .2rem);
	}

	nav .hamburgermenu input[type=checkbox]:not(:checked) ~ .menu
	{
		display: inline-block;
		background-color: white;
		width: 100vw;
		height: 220px;
		float: right;

		transform: scale(1, 1) translate(400%, 0px);

		-webkit-transition: transform 0.2s;
		transition: transform 0.2s;
	}

	nav .hamburgermenu input[type=checkbox]:checked ~ .menu
	{
		margin-top: 15px;
		display: block;
		background-color: white;
		width: 100vw;
		height: 220px;
		float: right;
		margin-right: -5vw;

		transform: scale(1, 1) translate(0%, 0px);

		-webkit-transition: transform 0.2s;
		transition: transform 0.2s;
	}

    nav .hamburgermenu{
    	display: block;
	}
	
	nav .hamburgermenu .menu
	{
		display: none;
	}

    /* nav ul{
    	display: none;
    	width: 100%;
    	position: absolute;
    	top: 6.5rem;
    	left: 0;
    	background-color: #fff;
	} */
    nav ul li{
    	width: 100%;
    	text-align: center;
    	display: block;
    	margin-top: 1rem;
		margin-bottom: 1rem;
    }
    nav ul a{
		border-radius: 0%;
		text-decoration: none;
		color: black;
    	/* width: 20%;
    	margin-left: 40%;
    	margin-right: 40%;
    	margin-bottom: 0; */
    }
}
@media only screen and (max-width: 480px) {
	nav img{
		position: absolute;
		top: 50%;
  		transform: translate(0, -50%);
		width: calc(60% - 3rem);
		height: auto;
	}
	section.questions{
    	text-align: center;
    }
    section.questions a{
    	float: none;
    	display: block;
		margin: auto;
		width: 20%;
		margin-top: 1rem;
    }
    section.questions div{
    	width: 100%;
	}
}

.col-md-5{
	width: 500px;
}

@media only screen and (max-width: 550px)
{
	.col-md-5{
		width: 50vw;
	}
}

.col-md-7{
	width: 700px;
}

@media only screen and (max-width: 750px)
{
	.col-md-7{
		width: 70vw;
	}
}

.col-md-8{
	width: 800px;
}

@media only screen and (max-width: 850px)
{
	.col-md-8{
		width: 80vw;
	}
}

.shadow-text{
	text-shadow: 1px 1px 0px black;
}