/*Defining variables*/
:root{
	--main-color: #fff;
  	--blue-main-color: #025e81;
  	--blue-secondary-color: #1b87c2;
  	--secondary-dark-color: #16232b;
  	--wrapper-width: 1250px; /*The width of the content sections including menu*/
}
/**/
body{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; /*Defining the font*/
	background-color: var(--main-color);
}
/*Menu bar*/
header{
	position: fixed;
	width: var(--wrapper-width);
	padding-left: calc((100% - var(--wrapper-width)) / 2);
	padding-right: calc((100% - var(--wrapper-width)) / 2);
	background-color: var(--main-color);
	height: 6rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	z-index: 10;
}
header img{
	float: left;
	height: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
nav ul{
	position: relative;
	padding: 0;
	margin: 0;
	float: right;
	list-style-type: none;
	padding-top: 1.9rem;
	padding-bottom: 1.9rem;
	line-height: 1.4rem;
}
nav ul li {
	display: inline-block;
	padding:.4rem .8rem .4rem .8rem;
	font-weight: 600;
}
nav ul li.calltoaction{
	border-radius: 50%;
	background: linear-gradient(to top, var(--blue-main-color) , var(--blue-secondary-color));
    border-radius: 20px;
    border-color: aliceblue;
    color: aliceblue;
    transition: all 0.25s ease;
}
/*Content section*/
section{
	width: var(--wrapper-width);
	padding-left: calc((100% - var(--wrapper-width)) / 2);
	padding-right: calc((100% - var(--wrapper-width)) / 2);
}
section h2{
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	padding-bottom: 2rem;
}
section.top{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	height: calc(100vh - 9rem);
	padding-top: 9rem;
	color: #fff;
	background: linear-gradient(to right, var(--blue-main-color) , var(--blue-secondary-color));
}
section.top div{
	width: 100%;
	height: 100%;
	background: url("../common-content/image-content/hero_logo.png") no-repeat;
	background-size: 70vh 80vh;
	background-position:calc(100vw - 70vh) calc(100vh - 80vh);
}
section.top > div > div{
	height: 100%;
	width: var(--wrapper-width);
	padding-left: calc((100% - var(--wrapper-width)) / 2);
	padding-right: calc((100% - var(--wrapper-width)) / 2);
}
section.top > div > div > div{
	position: relative;
}
section.top div div div p{
	width: 40%;
	position: absolute;
    bottom: 10%;
    left: 0;
}
section.info{
	margin-top: 5rem;
	margin-bottom: 5rem;
}
section.info h2{
	text-align: center;
}
section.numberedlist{
	margin-top: 5rem;
	margin-bottom: 5rem;
}
section.numberedlist h2{
	text-align: center;
}
section.numberedlist div.number{
	width: 100%;
}
section.numberedlist div.number div:first-child{
	font-weight: 900;
	font-size: 2rem;
	line-height: 3rem;
	height: 3rem;
}
section.numberedlist div.number div:first-child img{
	display: inline-block;
	float: left;
	height: 3rem;
}
section.numberedlist div.number div:first-child p{
	padding: 0;
	margin:0;
	display: inline-block;
	margin-left: 1rem;
}
section.numberedlist div.number div:last-child{
	width: calc(70% - 4rem);
	margin-left: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
section.numberedlist div.line{
	height: 1px;
	background-color: #999;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
section.features{
	overflow: hidden;
	padding-top: 3rem;
	padding-bottom: 6rem;
	color: #fff;
	background-color: var(--secondary-dark-color);
}
section.features >  p {
	font-weight: 900;
	text-align: center; 
	margin-bottom: 4rem;
}
section.features span{
	margin-left: 1rem;
	margin-right: 1rem;
}
section.features span.current{
	text-decoration: underline;
}
section.features div{
	display: block;
}
section.features div#browser, section.features div#mail{
	display: none;
}
section.features > div > div{
	width: 50%;
	float: left;
}
section.features div p{
	margin: 0;
	padding: 0;
}
section.features div p.title{

}
section.features div p.undertitle{
	text-transform: uppercase;
	font-size: 2rem;
	line-height: 1.8rem;
	font-weight: 900;
	margin-bottom: 3rem;
}
section.features div a.button{
	display: inline-block;
	border:0;
	margin-top: 3rem;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
	text-decoration: none;
}


section.team{
	margin-top: 5rem;
	margin-bottom: 5rem;
	overflow: hidden;
}
section.team div{
	width: 100%;
}
section.team div div{
	width: 30%;
	margin: calc(10% / 6);
	float: left;
}
section.team div div p{
	font-weight: 900;
	padding:0;
	margin:0;
}
section.team div div span{
	text-transform: uppercase;
	font-size: .8rem;
}

section.quote{
	padding-top: 10rem;
	padding-bottom: 7rem;
	color: #fff;
	text-align: center;
	position: relative;
	background: linear-gradient(to right, var(--blue-main-color) , var(--blue-secondary-color));
}
section.quote span.quotetag{
	position: absolute;
	top: 2rem;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 10rem;
}
section.quote div{
	width: 70%;
	margin: auto;
	font-weight: 300;
}
section.quote p.author{
	font-weight: 900;
	font-size: .7rem;
	margin-top: 2rem;
}

section.threecoloumntext{
	text-align: center;
	overflow: hidden;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
section.threecoloumntext > div{
	width: 100%;
}
section.threecoloumntext > div > div{
	width: 30%;
	margin: calc(10% / 6);
	float: left;
	text-align: left;
	color: #000;
}
section.news{
	background-color: var(--secondary-dark-color);
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
section.news h2{
	color: #fff;
}
section.news > div.newsgrid{
	width: 100%;
}
section.news > div.newsgrid > div{
	width: 30%;
	margin: calc(10% / 6);
	float: left;
	text-align: left;
	color: #fff;
}
section.news > div.newsgrid > div img{
	width: 100%;
	background-color: #fff;
}
section.news > div.newsgrid > div p{
	font-weight: 600;
	padding: 0;
	margin: 0;
}
section.news > div.newsgrid > div span{
	font-weight: 300;
	text-transform: uppercase;
	font-size: .6rem;
	padding-top: .2rem;
}
section.news > a.button{
	display: inline-block;
	border:0;
	margin-top: 3rem;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
	text-decoration: none;
}

section.createaccount{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: linear-gradient(to right, var(--blue-main-color) , var(--blue-secondary-color));
}
section.createaccount h2{
	color: #fff;
	text-align: center;
}
section.createaccount input[type=text],section.createaccount input[type=email]{
	border:0;
	border-radius: .5rem;
	font-size: 1rem;
	width: 60%;
	display: block;
	margin:auto;
	margin-bottom: .8rem;
	padding: .8rem .5rem .8rem .5rem;
}
section.createaccount input[type=submit]{
	display: block;
	margin: auto;
	border:0;
	margin-top: 3rem;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
}


section.centeredtext{
	text-align: center;
	padding-top: 10rem;
	padding-bottom: 10rem;
}
section.centeredtext p{
	width: 70%;
	margin: auto;
}
section.questions{
	padding-top: 5rem;
	padding-bottom: 5rem;
	background: linear-gradient(to right, var(--blue-main-color) , var(--blue-secondary-color));
	color: #fff;
	line-height: 1.5rem;
}
section.questions span{
	font-weight: 900;
	font-size: 2rem;
}
section.questions div{
	float: right;
	padding: .5rem 1.5rem .5rem 1.5rem;
	background-color: #fff;
	border-radius: 2rem;
	font-size: .8rem;
	color: #000;
	font-weight: 600;
}

/*Footer*/
footer{
	width: var(--wrapper-width);
	padding-left: calc((100% - var(--wrapper-width)) / 2);
	padding-right: calc((100% - var(--wrapper-width)) / 2);
	padding-top: 2rem;
	padding-bottom: 2rem;
}