section.profiletop{
	padding-top: 8rem;
	padding-bottom: 4rem;
	background-color: #f0f0f0;
}
section.profiletop h1{
	font-size: 5rem;
}
section.profiletop div{
	width: 40%;
}
section.profile{
	width: 50%;
	margin-bottom: 4rem;
}
section.profile > div{
	margin-top: 4rem;
}
section.profile > div > h2{
	display: inline-block;
}
section.profile > div > p{
	display: inline-block;
	float: right;
	line-height: 4rem;
	padding: 0;
	margin:0;
}
section.profile > div > p > a{
	color: #000;
}
section.profile p
section.profile table{
	width: 100%;
    display: table;
    border-collapse: collapse;
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
}
section.profile table tr > td:first-child{
	width: 10rem;
	font-weight: 900;
}
.line{
	height: 1px;
	width: 100%;
	background-color: #999;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
td span.small{
	font-size: 0.6rem;
}
.save{
	margin-top: 3rem;
	padding: .5rem 1.2rem .5rem 1.2rem;
	border:0;
}